<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../vue.js"></script>
</head>
<body>
    <div id="app">
        <form @submit.prevent>
            <label for="num1">num1：</label><input type="text" v-model="num1" id="num1"><br/>
            <label for="num2">num2：</label><input type="text" v-model="num2" id="num2"><br/>
            <button @click="add">计算</button>
        </form>
        <p>计算结果: <span v-text="sum"></span></p>
    </div>
</body>
<script>
    const vue = new Vue({
        el:'#app',
        data:{
            num1:'',
            num2:'',
            sum:''
        },
        methods:{
            add:function(){
                this.sum = Number(this.num1) + Number(this.num2)
            }
        }
    })
</script>
</html>